* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font: 13px Helvetica, Arial;
}

#messages {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#messages li {
    padding: 5px 10px;
}

#messages li:nth-child(odd) {
    background: #eee;
}

.table {
  background-image: url("../images/ovalpokertable.png");
}

.journal {
  border: 5px solid red;
}
