<script>
  var currentUserString = '<%- JSON.stringify(currentUser.get()) %>'
</script>

<div class="ui centered grid">
  <div class="row">
    <div class="hidden" id="create">
      <button class="compact ui black button" id="createTable">Create Table as banker</button>
    </div>
    <div class="hidden" id="destroy">
      <button class="compact ui black button" id="destroyTable">Destroy Table</button>
    </div>
    <div class="hidden" id="join">
      <button class="compact ui black button" id="joinTable">Join Table</button>
    </div>
    <div class="hidden" id="quit">
      <button class="compact ui black button" id="quitTable">Quit Table</button>
    </div>
  </div>
</div>

<div class="ui centered grid">
  <div class="hidden" id="bankerDeal">
    <button class="compact ui green button" id="deal">Deal Cards</button>
  </div>
</div>

<div class="ui two column centered grid">
  <div class="row">
    <div class="column journal">
      <ul id="messages"></ul>
    </div>
  </div>
</div>

<div class="ui twelve column centered grid">
  <div class="row">
    <div class="column hand">
      <ul id="hand">my empty hand
      </ul>
    </div>
    <div class="right floated three column">
      <div id="playerObject"></div>
    </div>
  </div>
</div>

<div class="ui centered grid">
  <!-- <form class="row" action=""> -->
    <div class="eight wide column">
      <button class="fluid ui orange button" name="bet">Bet</button>
    </div>
    <div class="eight wide column">
      <button class="fluid ui violet button " type="button" id="draw">Draw</button>
    </div>
  <!-- </form> -->
</div>
