<script>
  var currentUserString = '<%- JSON.stringify(currentUser.get()) %>'
</script>

<div class="ui centered grid">
  <div class="row">
    <div class="hidden" id="create">
      <button class="compact ui black button" id="createTable">Create Table as banker</button>
    </div>
    <div class="hidden" id="destroy">
      <button class="compact ui black button" id="destroyTable">Destroy Table</button>
    </div>
    <div class="hidden" id="join">
      <button class="compact ui black button" id="joinTable">Join Table</button>
    </div>
    <div class="hidden" id="quit">
      <button class="compact ui black button" id="quitTable">Quit Table</button>
    </div>
  </div>
</div>

<div class="ui centered grid">
  <div class="hidden" id="bankerDeal">
    <button class="compact ui teal button" id="newRound">New Round</button>
    <button class="compact ui green button" id="deal">Deal Cards</button>
    <button class="compact ui yellow button" id="pitCards">Pit Cards</button>

  </div>
</div>

<div class="ui two column centered grid">
  <div class="row">
    <div class="column journal">
      <ul id="messages"></ul>
    </div>
  </div>
  <div class="row">
    <div class="right aligned column">
      Current Bet: $
    </div>
    <div class="left aligned column" id="currentBet">
      &nbsp---
    </div>
  </div>
</div>

<div class="ui three column aligned grid">
  <div class="row" id="hand">
  </div>
  <div class="row">
    <div class="three wide column centered ">
      <h4>Player Current Hand</h4>
      <ul id="playerObject"></ul>
    </div>
  </div>
</div>

<div class="ui center aligned two column grid">
  <div class="row">
    <div class="right aligned column">
      <!-- <button class="fluid ui orange button" id="bet">Bet</button> -->
      <div class="ui center floating dropdown labeled search icon orange button" id="bet">
        <i class="dollar icon"></i>
        <select class="text" id="betAmt">Bet</select>
        <div class="menu">
          <div class="item">2</div>
          <div class="item">5</div>
          <div class="item">8</div>
          <div class="item">10</div>
          <div class="item">20</div>
          <div class="item">50</div>
          <div class="item">100</div>
        </div>
      </div>
    </div>
    <div class="left aligned column">
      <div class="hidden" id="playerDraw">
        <button class="ui violet button " id="draw">Draw</button>
      </div>
    </div>
  </div>
</div>
